<li id="comment-reply-<%=comment_iteration.index%>">
  <div class="comment-reply">
    <% if comment_iteration.size > 2  %>
      <%= link_to  "Jump to next comment tree", anchor: "comment-reply-#{comment_iteration.index+1}" %>
    <% end %>

    <%= image_tag((comment.comment_author.avatar.thumb.url), class:"comment-entry-avatar") %>
    Comment by: <%= comment.comment_author.name %>
    
    <%= time_ago_in_words(comment.created_at) + ' ago' %> <br>
    <%= comment.body%>
    <%= turbo_frame_tag id="comment-window", class:"comment-window" do %>
    <%= link_to "Reply to this comment", new_comment_comment_path(comment) %>
    <% end %>
  </div>
  <ul>
  <%= render partial: "comments/comment", collection: comment.comments, as: :comment %>
  </ul>
</li>

