<h1 class="profile-name"><%= profile_owner.name.titlecase %></h1>
<h2 class="profile-nick">(<%= profile_owner.nick_name.titlecase %>)</h2>
<div class="profile-banner-buttons-parent">
  <%= button_to "Timeline", profile_owner, class:"profile-banner-button", method: :get %>
  <%= button_to "About", profile_owner, class:"profile-banner-button", method: :get %>
  <%= button_to "Photos", profile_owner, class:"profile-banner-button", method: :get %>
  <%= button_to "Friends (#{profile_owner.friends.count})", user_friendships_path(profile_owner), class:"profile-banner-button", method: :get %>
  <%= button_to "Groups (#{@groups.count})", user_groups_path(profile_owner), class:"profile-banner-button", method: :get %>
  <%= render "users/friendship_button", profile_owner: profile_owner %>
</div>