<% content_for(:title) do %>
  <%= @user.full_name %>'s Profile
<% end %>
<% content_for :page_content do %>
  <h1>This is <%= @user.full_name %>'s Profile</h1>
  Here are all their friends:
  <%@user.friends.each do |f|%>
  <%= f.full_name %>
  <% end %>
<% if @user.id == current_user.id %>
  for testing reasons ur friend requests are here
  <% @user.received_requests.each do |r|%>
  <%= r.full_name%>
   <%= link_to "Accept", accept_friend_request_user_friendships_path(r.id) %>
   <%= link_to "Decline", decline_friend_request_user_friendships_path(r.id) %>
  <% end %>
<% else%>
  <%= link_to "friend this user", user_friendships_path(@user), method: :post %>
<% end %>

<% end %>