<div class="user-index-grid">
<% indexed_users.order(created_at: :desc).each do |user| %>
  <div class="user-index-result">
    <li class="user-index-result-contents">
    <%= link_to user.name.titlecase, user, class:"user-index-name" %>
      <ul class="user-index-grid-sublist">
        <li><%= link_to user do %><%= image_tag((user.avatar_thumbnail(256)), class:"user-index-image") %> <% end %> </li>
        <li>(<%= user.nick_name %>)</li>
        <li><%= pluralize(user.friends.count, 'friend') %></li>
        <li class="user-index-button"><%= render "users/friendship_button", profile_owner: user %></li>
      </ul>
    </li>
  </div>
<% end %>
</div>