<% content_for(:title) do %>
  <%= profile_owner.name %>'s Profile
<% end %>

  <div class="profile-banner">
    <%= image_tag((profile_owner.banner_thumbnail(1280, 720)), class:"profile-banner-image") %>
    <div class="profile-banner-overlay">
      <%= image_tag((profile_owner.avatar_thumbnail(256)), class:"profile-avatar-image") %>
      <div class="profile-banner-information">
        <% if is_group %>

        <% else %>
        <h1 class="profile-name"><%= profile_owner.name.titlecase %></h1>
        <h2 class="profile-nick">(<%= profile_owner.nick_name.titlecase %>)</h2>
        <% end %>
      </div>
    </div>
  </div>
