<% content_for(:title) do %>
  <%= profile_owner.name %>'s Profile
<% end %>

<style><%= content_for :profile_stylesheets %></style>

<div class="profile-page">
  <div class="profile-banner">
    <%= image_tag((profile_owner.banner_thumbnail(1280, 720)), class:"profile-banner-image") %>
    <div class="profile-banner-overlay">
      <%= image_tag((profile_owner.avatar_thumbnail(256)), class:"profile-avatar-image") %>
      <div class="profile-banner-information">
          <%= render @banner_type, profile_owner: profile_owner %>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <div class="profile-sidebar" id="profile-sidebar"><%= content_for :profile_sidebar %></div>
    <div class="profile-feed"><%= content_for :profile_feed %></div>
  </div>
</div>
