<% content_for(:title) do %>
  Pending Friend Requests
<% end %>
<%= turbo_frame_tag id="notification-dropdown", class:"turbo-dropdown" do %>
  <h1>Received Requests</h1>
  <% @received_requests.each do |r|%>
    From:  <%= link_to r.name, user_path(r) %>
    <%= link_to "Accept", accept_friend_request_user_friendships_path(r.id) %>
    <%= link_to "Decline", decline_friend_request_user_friendships_path(r.id) %>
    <br>
  <% end %>
  <h2>Sent Requests</h2>
  <% @pending_requests.each do |r|%>
    To:  <%= link_to r.name, user_path(r) %>
  <% end %>
<% end %>
