<%= turbo_frame_tag journal, class:"journal-entry", id:dom_id(journal) do %>
  <div class="journal-header">
    <div><%= image_tag(journal.journal_author.avatar.thumb.url, class:"journal-entry-avatar larger-avatar") %></div>
    <div class="header-text">
      <h4><%= link_to  "@#{journal.journal_author.nick_name}", journal.journal_author, class:"author_url", 'data-turbo-frame': :_top %></h4>
      <i><%= time_ago_in_words(journal.created_at) + ' ago' %></i>
      <% if journal.created_at != journal.updated_at %>
        <i>| Edited <%= time_ago_in_words(journal.updated_at) + ' ago' %></i>
      <% end %>
    </div>
    <div class="journal-likes">
      <%= render  "likes/form", content: journal %>
      <div class="comment-box">
        <%= link_to journal_path(journal), 'data-turbo-frame': :_top do %>
          <span class="material-icons">chat_bubble</span>
        <% end %>
        <div class="comment-count">
          <%= pluralize(journal.commentable_count, 'comment') %>
        </div>
      </div>
    </div>
  </div>
  <!--End of Journal Header-->
  <p class="journal-body">
    <% unless journal.journal_author == journal.journalable %>
      <%= image_tag((journal.journalable.avatar.small_thumb.url), class:"journal-entry-avatar") %>
      <%= link_to "@#{journal.journalable.name}", journal.journalable, class:"tagged", 'data-turbo-frame': :_top %>
    <% end %>
    <%= truncate(journal.body, length: 256) { link_to 'Read More', journal_path(journal), 'data-turbo-frame': :_top } %> <br>
  </p>
  <% if journal.image? %>
    <%= image_tag(journal.image.thumb.url, class:"journal-image-attch") %>
    <%= link_to 'View full image', journal_path(journal), 'data-turbo-frame': :_top%>
  <% end %>
  <span class="edit-links user-<%=journal.journal_author.id%>-edit-links">
    <%= link_to "Edit journal", edit_journal_path(journal)%> | 
    <%= link_to  "Delete journal", journal, method: :delete, data: { confirm: "Are you sure?" }, 'data-turbo-frame': :_top%>
  </span>
<% end %>
