<% content_for(:title) do %>
  <%=@journal.journal_author.nick_name%>'s Journal
<% end %>
 <h1>Journal entry:</h1>
<div class="journal-entry full-entry">
<%= image_tag((@journal.journal_author.avatar.thumb.url), class:"journal-entry-avatar") %>
 Post by: <%= @journal.journal_author.name %>
<% unless @journal.journal_author == @journal.journalable %>
<%= image_tag((@journal.journalable.avatar.thumb.url), class:"journal-entry-avatar") %>
Posted to: <%= @journal.journalable.name %><% end %>

<%= time_ago_in_words(@journal.created_at) + ' ago' %> <br>

<%= @journal.body %>

<%= render "likes/form", content: @journal, current_user: current_user %>

</div>
<br>
<%= render "comments/form", comment: Comment.new, commentable: @journal, class:"new-comment-region" %>
<%= turbo_stream_from @journal, :comments %>

<%= form_with url: journal_path(@journal), local: true, method: :get do |f| %>
<%= f.select :order, ["Newest First", "Oldest First", "Most Likes First", "Least Likes First"] %>
<%= f.submit "Sort Comments!" %>
<% end %>



<%= tag.ul id: "#{dom_id(@journal)}_comments", class:"comment-parent" do%>
  <%= render partial: "comments/comment_with_replies", collection: @comments, as: :comment %>
<% end %>
<%= link_to  "Back to top!", anchor:"top"%>
</div>
