This file only exists as a place for me to hold onto code I wrote but am currently not using until I have a new place for it
Plz ignore!!

<% content_for(:title) do %>
  Pending Friend Requests
<% end %>
<% content_for :page_content do %>
  <h1>Here are all ur pending friend requests</h1>
  <% @pending_requests.each do |r|%>
  From:  <%= link_to r.requesting_user.full_name, profile_path(r.requesting_user) %>
  <%= link_to "Accept", accept_friend_request_path(r), method: :post %>
  <br>
  <% end %>
<% end %>

  <% profile_owner.received_requests.each do |r|%>
  <%= r.name %>
  <%= link_to "Accept", accept_friend_request_user_friendships_path(r.id) %>
  <%= link_to "Decline", decline_friend_request_user_friendships_path(r.id) %>
  <% end %>