<div class="header-left">
  <%= link_to "Friendsy", root_path, id:"logo" %>
  <%= link_to "Github Repo", "https://github.com/MchaseCov/facebook-clone", target: '_blank' %>
</div>

<div class="header-title"><%= yield :title%></div>

<div class="header-right">
    <% if user_signed_in?%>
    <div class="top-header-item interactive">
      <%= link_to root_path do %>
        <span class="material-icons inline-icon">group_add</span>
      <% end %>
    </div>
    <div class="top-header-item interactive">
      <%= link_to root_path do %>
        <span class="material-icons inline-icon">textsms</span>
      <% end %>
    </div>
    <div class="top-header-item interactive">
      <%= link_to root_path do %>
        <span class="material-icons inline-icon">notifications</span>
      <% end %>
    </div>
    <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In",  new_user_session_path %>
    <% end %>
</div>
