<div class="sidebar-parent">
<h2><%= link_to "Friendsy", root_path, id:"logo" %></h2>
<% if user_signed_in? %>
  <div class="section-parent">
    <div class="section-header"><%= link_to user_path(current_user.id), id:"username" do %>
    <%= image_tag((current_user.avatar.variant(resize:"150x150")), class:"avatar", draggable: "false") %>
    <h4><%= current_user.name.titlecase %></h4> <% end %>
    </div>
    <ul>
    <li class="interactive">
      <%= link_to edit_user_registration_path do %>
        <span class="material-icons">manage_accounts</span>
        Edit My Profile
      <% end %>
    </li>
    <li class="interactive">
      <%= link_to destroy_user_session_path, method: :delete, :data => { :no_turbolink => true }  do %>
        <span class="material-icons">logout</span>
        Sign Out
      <% end %>
    </li>
  </div>
  </ul>
  <div class="section-parent">
    <h4 class="section-header">Quick Navigation</h4>
    <ul>
    <li class="interactive">
      <%= link_to root_path do %>
        <span class="material-icons">home</span>
        Home Feed
      <% end %>
    </li>
    <li class="interactive">
      <%= link_to friendships_user_path(current_user) do %>
        <span class="material-icons">people</span>
        Friends (<%=current_user.friends.size%>)
      <% end %>
    </li>
    <li class="interactive">
      <%= link_to root_path do %>
        <span class="material-icons">image</span>
        Photos**
      <% end %>
    </li>
    <li class="interactive">
      <%= link_to root_path do %>
        <span class="material-icons">textsms</span>
        Messages**
      <% end %>
    </li>
    </ul>
  </div>
  <div class="section-parent">
    <h4 class="section-header">Groups</h4>
    <ul>
      <% @sidebar_groups.each do |group|%>
      <li class="interactive">
        <%= link_to group do %>
          <%= image_tag((group.avatar.variant(resize: "24x24"))) %>
          <%= group.name %> (<%=group.users.size%>)
        <% end %>
      </li>
      <% end %>

      <li class="interactive">
        <%= link_to groups_user_path(current_user) do %>
          <%= image_tag((current_user.avatar.variant(resize: "24x24"))) %>
          All My Groups (<%=current_user.groups.size%>)
        <% end %>
      </li>
    </ul>
  </div>
  <div class="section-parent">
    <h4 class="section-header">Discover</h4>
    <ul>
      <li class="interactive">
        <%= link_to users_path do %>
          <span class="material-icons">connect_without_contact</span>
          Users
        <% end %>
      </li>
      <li class="interactive">
        <%= link_to groups_path do %>
          <span class="material-icons">groups</span>
          Groups
        <% end %>
      </li>
      <li class="interactive">
        <%= link_to root_path do %>
          <span class="material-icons">event</span>
          Events**
        <% end %>
      </li>
      <li class="interactive">
        <%= link_to root_path do %>
          <span class="material-icons">storefront</span>
          Marketplace**
        <% end %>
      </li>
    </ul>
  </div>
  <div class="section-parent">
    <ul>
      <li class="interactive" id="bottom-link"><%= link_to "Back to top!", anchor:"top" %></li>
    </ul>
  </div>
<% else %>
  <div class="section-parent">
    <li>Something about what this website is and why you shodiv class="section-parent"d sign up</li>
  </div>
<% end %>
</div>