<% if user_signed_in?%>
  <div class="side-header-parent">
    <div class="side-header-item"><%= image_tag((current_user.avatar), class:"side-navbar-avatar") %></div>
    <div class="side-header-item interactive section-header"><%= link_to current_user.name, user_path(current_user.id) %></div>
    <div class="side-header-item interactive subtext">
      <%= link_to edit_user_registration_path do %>
        <span class="material-icons inline-icon">manage_accounts</span>
        Edit My Profile
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="material-icons inline-icon">logout</span>
        Sign Out
      <% end %>
    </div>
  </div>
  <div class="side-header-parent">
    <div class="side-header-item section-header">Quick Navigation</div>

    <div class="side-header-item interactive subtext">
      <%= link_to posts_path do %>
        <span class="material-icons inline-icon">home</span>
        Home Feed
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to user_friendships_path(current_user) do %>
        <span class="material-icons inline-icon">people</span>
        Friends (<%=current_user.friends.count%>)
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to posts_path do %>
        <span class="material-icons inline-icon">image</span>
        Photos**
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to posts_path do %>
        <span class="material-icons inline-icon">textsms</span>
        Messages**
      <% end %>
    </div>
  </div>
  <div class="side-header-parent">
    <div class="side-header-item section-header">Groups</div>

    <% current_user.groups.limit(5).each do |group|%>
    <div class="side-header-item interactive subtext">
      <%= link_to group do %>
        <%= image_tag((group.avatar_thumbnail(24)), class:"inline-img inline-icon") %>
        <%= group.name %> (<%=group.users.count%>)
      <% end %>
    </div>
    <% end %>

    <div class="side-header-item interactive subtext">
      <%= link_to posts_path do %>
        <%= image_tag((current_user.avatar_thumbnail(24)), class:"inline-img inline-icon") %>
        All My Groups**(<%=current_user.groups.count%>)
      <% end %>
    </div>
  </div>
  <div class="side-header-parent">
    <div class="side-header-item section-header">Discover</div>

    <div class="side-header-item interactive subtext">
      <%= link_to users_path do %>
        <span class="material-icons inline-icon">connect_without_contact</span>
        Users
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to groups_path do %>
        <span class="material-icons inline-icon">groups</span>
        Groups
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to posts_path do %>
        <span class="material-icons inline-icon">event</span>
        Events**
      <% end %>
    </div>
    <div class="side-header-item interactive subtext">
      <%= link_to posts_path do %>
        <span class="material-icons inline-icon">storefront</span>
        Marketplace**
      <% end %>
    </div>
  </div>
<% else %>
  <div class="side-header-parent">
    <div>Something about what this website is and why you shodiv class="side-header-parent"d sign up</div>
  </div>
<% end %>
