<div class="header-left">
  <%= link_to "Bleatbook", posts_path %>
  <%= link_to "Github Repo", "https://github.com/MchaseCov/facebook-clone", target: '_blank' %>
</div>

<div class="header-title"><%= yield :title%></div>

<div class="header-right">
    <%= link_to "FriendReqs(Placeholder)", posts_path %>
    <%= link_to "Chats(Placeholder)", posts_path %>
    <%= link_to "Notifs(Placeholder)", posts_path %>
</div>
