<ul>
  <li><%= link_to "Bleatbook", posts_path %></li>
  <li><%= link_to "Github Repo", "https://github.com/MchaseCov/facebook-clone", target: '_blank' %></li>
  <li><%= link_to "FriendReqs(Placeholder)", posts_path %></li>
  <li><%= link_to "Chats(Placeholder)", posts_path %></li>
  <li><%= link_to "Notifs(Placeholder)", posts_path %></li>
</ul>
