<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="header-navbar"><%= render "layouts/header" %></div>
    <div class="body-content">
      <%= yield :body_content %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="side-navbar"><%= yield :side_navbar %></div>
      <div class="page-content"><%= yield :page_content %></div>
      <div class="information-content"><%= yield :info_content %></div>
    </div>
  </div>
  </body>
</html>
