<!DOCTYPE html>
<html>
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>  
    <% if content_for?(:title) %>
    <%= yield :title %> | Friendsy
    <% end %>
  </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= turbo_include_tags %>
    <%#= stimulus_include_tags %>
    <style>
    <%if user_signed_in?%>
    <%=".user-#{current_user.id}-message"%>{
      background-color: var(--blue) !important;
      padding: 10px 20px 10px 35px;
      margin: 10px 20% 10px auto;
      text-align: right;
    }
    <%end%>
    </style>
  </head>

  <body>
    <div class="header-navbar" id="top"><%= render "shared/navbars/header" %></div>
    <nav class="side-navbar"><%= render "shared/navbars/side_navbar" %></nav>
    <div class="information-bar"><%= render "shared/navbars/information_bar" %></div>
    <div class="page-content">
      <% flash.each do |type, msg| %>
        <div class="flash flash-<%= type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
