<!DOCTYPE html>
<html>
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>  
    <% if content_for?(:title) %>
    <%= yield :title %> | Friendsy
    <% end %>
  </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="header-navbar"><%= render "layouts/header" %></div>
    <div class="body-content">
      <%= yield :body_content %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="side-navbar"><%= render "layouts/side_navbar" %></div>
      <div class="page-content"><%= yield :page_content %></div>
      <div class="information-content"><%#= render "layouts/side_navbar" %></div>
    </div>
  </div>
  </body>
</html>
